strict-peer-dependencies=false
enable-pre-post-scripts=true
@polyorg:registry=https://npm.pkg.github.com/:_authToken=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
